# Project 2: Chapter 2 - Working with Lists

Lists can hold any kind of object

In [1]:
empty_list = []
int_list = [2,4,6,8,10]
float_list = [2.0,4.0,6.0,8.0,10.0]
string_list = ["Words", "List of strings"]
mixed_list = [3, 4.0, "Mixed list of objects"]

print(empty_list)
print(int_list)
print(float_list)
print(string_list)
print(mixed_list)

[]
[2, 4, 6, 8, 10]
[2.0, 4.0, 6.0, 8.0, 10.0]
['Words', 'List of strings']
[3, 4.0, 'Mixed list of objects']

Checking the types of objects in the last lists

In [2]:
type(mixed_list)

list

To access the elements in the list, must call the index which starts from 0 and counts upward with each additional element

In [3]:
mixed_list[0], type(mixed_list[0])

(3, int)

In [4]:
mixed_list[1], type(mixed_list[1])

(4.0, float)

In [5]:
mixed_list[2], type(mixed_list[2])

('Mixed list of objects', str)

# Concatenated Lists

In [6]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
join_lists = list1 + list2

print("list1:",list1)
print("list2:",list2)
print("Lists combined:",join_lists)

list1: [1, 2, 3, 4, 5]
list2: [6, 7, 8, 9, 10]
Lists combined: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Similar to concatenating strings

In [7]:
str1 = "String"
str2 = "Another string"

join_strings = str1 + str2
join_strings

'StringAnother string'

In [8]:
join_strings[2]

'r'

# List Slices

If you want to call a subset of a list or string, can do this by calling listname[start: end]

In [9]:
join_lists

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
join_lists[:5]

[1, 2, 3, 4, 5]

In [11]:
join_lists[0:5]

[1, 2, 3, 4, 5]

In [12]:
join_strings[:5]

'Strin'

In [13]:
join_strings[0:5]

'Strin'

In [14]:
join_strings[5:]

'gAnother string'

Calling [-1] will call the last element of the list

In [15]:
join_lists[-1], join_strings[-1]

(10, 'g')

Can count from end of the list using negative sign. If do this after first colon, will call all except the last i elements for the list. 
listname[:-1]

In [16]:
join_lists[:-1], join_strings[:-1]

([1, 2, 3, 4, 5, 6, 7, 8, 9], 'StringAnother strin')

In [17]:
join_lists[:-5], join_strings[:-5]

([1, 2, 3, 4, 5], 'StringAnother s')

# For Loops

In [30]:
list1 = [2,4,6,8,10]
list2 = [12,10,8,6,4]

print("list1", list1)
print("list2",list2)

# create a blank list that generates the same results as above using the +
# sign (concatenate)

concat_list = []
sum_list = []

# Used to make the if statement easier and everything cleaner
len_list1 = len(list1)
len_list2 = len(list2)

# Concatenation first
for i in range(0, len_list1): # or can use (0, len(list1))
    concat_list.append(list1[i])
    print(i, list1[i])

print(concat_list)

for i in range(0,len_list2):
    concat_list.append(list2[i])
    print(i, list2[i])
               
print(concat_list, list1+ list2)

sum_list = []
if len_list1 == len_list2:
    for i in range (len_list1):
        sum_list.append(list1[i] + list2[i])
        print("sum_list (append):", sum_list)

sum_list = []
if len_list1 == len_list2:
    for i in range (len_list1):
        # list.insert(index, value)
        sum_list.insert(0, list1[i] + list2[i])
        print("sum_list (insert):", sum_list)

# Python auto does n - 1
for i in range(5):
    print("i =", i)

list1 [2, 4, 6, 8, 10]
list2 [12, 10, 8, 6, 4]
0 2
1 4
2 6
3 8
4 10
[2, 4, 6, 8, 10]
0 12
1 10
2 8
3 6
4 4
[2, 4, 6, 8, 10, 12, 10, 8, 6, 4] [2, 4, 6, 8, 10, 12, 10, 8, 6, 4]
sum_list (append): [14]
sum_list (append): [14, 14]
sum_list (append): [14, 14, 14]
sum_list (append): [14, 14, 14, 14]
sum_list (append): [14, 14, 14, 14, 14]
sum_list (insert): [14]
sum_list (insert): [14, 14]
sum_list (insert): [14, 14, 14]
sum_list (insert): [14, 14, 14, 14]
sum_list (insert): [14, 14, 14, 14, 14]
i = 0
i = 1
i = 2
i = 3
i = 4

In [33]:
if 1 == 1:
    print("Statement is", 1 == 1)

Statement is True

In [36]:
for i in range(10):
    print("i ==", i, "i < 5:", i < 5)

i == 0 i < 5: True
i == 1 i < 5: True
i == 2 i < 5: True
i == 3 i < 5: True
i == 4 i < 5: True
i == 5 i < 5: False
i == 6 i < 5: False
i == 7 i < 5: False
i == 8 i < 5: False
i == 9 i < 5: False

# Sorting Lists

In [41]:
list1 = [5,
         6,
         3,
         4,
         1]
list2 = ["blue", "orange", "red", "black", "yellow"]

print(list1)
print(list2)

sorted_list1 = sorted(list1) # reverse = True
sorted_list2 = sorted(list2)

sorted_list1, sorted_list2
# Can run backwards by: sorted_list1[::-1], sorted_list2[::-1]
# Count backwards by 2 by doing the same thing but replace -1 with -2
# Can count forwards same way. replace -1 with 2, etc

[5, 6, 3, 4, 1]
['blue', 'orange', 'red', 'black', 'yellow']

([1, 3, 4, 5, 6], ['black', 'blue', 'orange', 'red', 'yellow'])

In [49]:
# Can still run code with certain errors
list3 = ["1", 22, "3", 24, "5"]
try:
    sorted_list3 = sorted(list3)
except:
    print("TypeError: unorderable types: str < int")

# Way to fix the above error
# Generator function creates list using for loop within the created list
alpha_list3 = [str(val) for val in list3]

num_list3 = []
for val in list3:
    num_list3.append(int(val))
print(alpha_list3)
print(num_list3)
sorted(alpha_list3), sorted(num_list3)

TypeError: unorderable types: str < int
['1', '22', '3', '24', '5']
[1, 22, 3, 24, 5]

(['1', '22', '24', '3', '5'], [1, 3, 5, 22, 24])

# Nested Loops

Nesting loops means that you add a loop within a loop

In [57]:
# Useful for plots
print("i", "j", "k")
# Needed to print total lists at the end
i_list = list(range(5))
j_list = list(range(3))
k_list = list(range(4))

for i in range (5):
    for j in range (3):
        for k in range (4):
            print(i, j, k)
        # Could flip these numbers, have them the same, etc. Will change output
print(i_list)
print(j_list)
print(k_list)

i j k
0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
3 0 0
3 0 1
3 0 2
3 0 3
3 1 0
3 1 1
3 1 2
3 1 3
3 2 0
3 2 1
3 2 2
3 2 3
4 0 0
4 0 1
4 0 2
4 0 3
4 1 0
4 1 1
4 1 2
4 1 3
4 2 0
4 2 1
4 2 2
4 2 3
[0, 1, 2, 3, 4]
[0, 1, 2]
[0, 1, 2, 3]