# Project 1 - Chapter 1 - Essentials

In [ ]:
print("Hello World!")

We just used the print function. Print will print whatever object is passed to it. We passed the string, "Hello World!", and it printed after the code.

# Introduction to Jupyter

This is the first program I have written in Econ 411/611. Next, we will start working with string variables.

In [2]:
msg = "john nash"
print(msg)

john nash

Next, we are going to use the string methods to capitalize different letters.

The method *.upper()* will make the string all cals, *.title()* will capitalize the first letters of each string.

In [2]:
print(msg.upper())
print(msg.title())

NameError: name 'msg' is not defined

## String Concatenation

You can concatenate strings using the +. THat means you can join them in order to create a single aggregate string.

In [4]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be hard"
line3 = "But once you started"
line4 = "It was much more difficult than you imagined"

print(line1)
print(line2)
print(line3)
print(line4)

You though it would be easy
You thought it wouldn't be hard
But once you started
It was much more difficult than you imagined

In [5]:
print(line1+line2+line3+line4)

You though it would be easyYou thought it wouldn't be hardBut once you startedIt was much more difficult than you imagined

In [6]:
concat_strings = line1+line2+line3+line4
print(concat_strings)

You though it would be easyYou thought it wouldn't be hardBut once you startedIt was much more difficult than you imagined

The sep option in print() allows you to determine the character that will be printed in lieu of each comma

In [3]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be hard"
line3 = "But once you started"
line4 = "It was much more difficult than you imagined"

print(line1, line2, line3, line4)

You thought it would be easy You thought it wouldn't be hard But once you started It was much more difficult than you imagined

In [5]:
print(line1 + "\n",
     line2 + "\n",
     line3 + "\n",
     line4 + "\n",
     sep = "")

You thought it would be easy
You thought it wouldn't be hard
But once you started
It was much more difficult than you imagined

## Distinction between double and single quotes

In [7]:
single_in_double = "Can use 'single quotes' within double quotes"
double_in_single = 'Can also use "double quotes" within single quotes'
double_in_double = "Can use \"double quotes\" in double quotes"
single_in_single = 'Can use \'single quotes\' in single quotes'

print(single_in_double)
print(double_in_single)
print(double_in_double)
print(single_in_single)

Can use 'single quotes' within double quotes
Can also use "double quotes" within single quotes
Can use "double quotes" in double quotes
Can use 'single quotes' in single quotes

\"double quotes" = read it as it is
same with \'single quotes'

Adding \n and \t to build on the example above

In [10]:
read_backslash = \
"Have to use two backslashes for a single backslash or else it won't be read: \\"
new_line_tab = "May start a new line with \n\t use tab for a hanging indent"

print(read_backslash)
print(new_line_tab)

Have to use two backslashes for a single backslash or else it won't be read: \
May start a new line with
	 use tab for a hanging indent

# Using .strip() and .replace() string methods

May want to transform strings by adding or removing spaces. This can be done with the strip() command

.lstrip(): removes spaces from far left
.rstrip(): removes spaces from far right
.strip(): removes spaces from the left and right of the text object

In [12]:
spaces = "    Look at the spaces in the text!    "
print("No spaces removed:", spaces, sep = "\n")

remove_left_spaces = spaces.lstrip()
remove_right_spaces = spaces.rstrip()
remove_left_and_right_spaces = spaces.strip()
remove_all_spaces = spaces.replace(" ","")

print("Removed left spaces:", remove_left_spaces)
print("Removed right spaces:", remove_right_spaces)
print("Removed left and right spaces:", remove_left_and_right_spaces)
print("Removed all spaces:", remove_all_spaces)

print("Capitalize all first letters:", remove_left_spaces.title())

No spaces removed:
    Look at the spaces in the text!
Removed left spaces: Look at the spaces in the text!
Removed right spaces:     Look at the spaces in the text!
Removed left and right spaces: Look at the spaces in the text!
Removed all spaces: Lookatthespacesinthetext!
Capitalize all first letters: Look At The Spaces In The Text!

# Integers/Values

Make sure to use int here and not str. Won't be correct because this concantenates the strings

In [13]:
num1 = 5 + 3
num1string = "5" + "3"

print("num1:", num1, "\nnum1string:", num1string)

num1: 8
num1string: 53

Automatically turns int into floats which gives the correct values if output generates a float. This includes if a float and an int are together.

In [14]:
num1 = 5 / 3
num2 = 5 / 4 
num3 = 4 / 3

print("num1:", num1, "\nnum2:", num2, "\nnum3:", num3)

num1: 1.6666666666666667
num2: 1.25
num3: 1.3333333333333333

Type will give tell what input is

In [15]:
type(num1)

float

In [16]:
type(3)

int

In [17]:
float(3)

3.0

In [18]:
3 + 1.5

4.5

In [19]:
type(1.5)

float

In [20]:
type(3 + 1.5)

float

import command is used to import a module

In [21]:
import sys

print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [23]:
2. ** 1023

8.98846567431158e+307

2. ** 1024 is too large for the data structure, so there is an error

In [24]:
2. ** 1024

OverflowError: (34, 'Result too large')